.firstHeader1 {
    text-decoration: underline;
    text-align: center;
    align-self: center;
    margin-left: 34%;
}
.colorModeArea {
    display: flex;
    margin-left: 30%;
    margin-right: 2%;
}