.modals {
    /*display: none;*/
    z-index: 100000;
    /*justify-content: space-evenly;*/
}
#modal {

}
.modalsContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#modalContent {

}

.modalButtons {

}

/*add things to make the modal work*/