.firstHeader1 {
    text-decoration: underline;
    text-align: center;
    align-self: center;
    margin-left: 20%;
}
.colorModeArea {
    display: flex;
    margin-left: 27%;
    margin-right: 2%;
}